<div class="container">
  <ul class="collapsible" data-collapsible="accordion">
    <!--Seccion de categorias-->
    <li>
      <div class="collapsible-header"><span class="badge red white-text">{{numCat}}</span>Categorias</div>
      <div class="collapsible-body">
        <a [routerLink]="[ '/new-producto', 'cat' ]" class="waves-effect waves-teal btn-flat red  white-text right">
           <i class="material-icons Medium">fiber_new</i>
        </a>
        <table class="responsive-table highlight centered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Decripcion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categorias">
              <td>{{cat.nombre}}</td>
              <td>{{cat.descripcion}}</td>
              <td><a [routerLink]="[ '/categoria-detalle', cat.id ]"><i class="material-icons">settings</i></a></td>
              <td><a [routerLink]="[ '/borrar-producto', cat.id, 'cat' ]"><i class="material-icons">delete</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <!--Seccion de platos-->
    <li>
      <div class="collapsible-header">
        <span class="badge red white-text">{{numPlatos}}</span>
        <span class="badge red white-text"  data-badge-caption="no activados">
          {{numActivos}}
        </span>
        Platos
      </div>
      <div class="collapsible-body">
        
        <a [routerLink]="[ '/new-producto', 'plat' ]" class="waves-effect waves-teal btn-flat red  white-text right">
           <i class="material-icons Medium">fiber_new</i>
        </a>
        
        <table class="responsive-table highlight centered">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Decripcion</th>
              <th>Activado</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plat of platos">
              <td><img class="responsive-img" src="../../assets/img/{{plat.foto}}"></td>
              <td>{{plat.nombre}}</td>
              <td>{{plat.precio}}</td>
              <td>{{plat.descripcion}}</td>
              <td>
                <div *ngIf="plat.activado == 1; else elseTemplate">
                  <i class="material-icons small green-text">lens</i></div>
                <ng-template #elseTemplate>
                  <i class="material-icons small red-text">lens</i>
                </ng-template>
              </td>
              <td>{{plat.categoria}}</td>
              <td><a [routerLink]="[ '/plato-detalle', plat.id ]"><i class="material-icons">mode_edit</i></a></td>
              <td><i (click)="onModal(plat.nombre, plat.precio, plat.descripcion,plat.foto)" style="cursor:pointer;" class="material-icons">search</i></td>
              <td><a [routerLink]="[ '/borrar-producto', plat.id, 'plat' ]"><i class="material-icons">delete</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="container">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../assets/img/{{imagen}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{titulo}}<i class="material-icons right">more_vert</i></span>
          <p>{{precio}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{titulo}}<i class="material-icons right">close</i></span>
          <p>{{descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a [routerLink]="[ 'backoffice']" class="modal-action modal-close waves-effect red btn-large"><i class="material-icons">check_circle</i></a>
  </div>
</div>
