/* You can add global styles to this file, and also import other style files */
/*css para la etiquetas input=text*/
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid green;
     box-shadow: 0 1px 0 green;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
/*css para la etiquetas input=email*/
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid green;
     box-shadow: 0 1px 0 green;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
/*css para la etiquetas input=password*/
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid green;
     box-shadow: 0 1px 0 green;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
/*css para la etiquetas materialize-textarea*/
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field .materialize-textarea:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field .materialize-textarea:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
/*css para la etiquetas select*/
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field select + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field select:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }