@import url('https://fonts.googleapis.com/css?family=Lobster');
.titulo{
    font-family: 'Lobster', cursive;
   
}
.social-nav{
    display: inline-block;
}
.social-nav a {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}
.social-nav a i {
    color: white;
    font-size: 2.05em;
}
.web-map{
    margin-left: 20px;
}
.web-map a{
    text-decoration: none;
    color: white;
}
#LoginActivo{
    width: 250px!important; 
    position: absolute; 
    top: 60px!important; 
    left: 603.398px; 
    opacity: 1; 
    display: none;
    z-index: 100;
}
.dropdown-content li>a{
    color: red!important;    
}
/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
