<!--Empieza la barra de navegacion-->
<nav>
  <div class="nav-wrapper red">
    <a class="brand-logo titulo"><i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>TakeAway</a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <!--Menu de barra de navegacion-->
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="[ '/inicio']">Inicio</a></li>
      <li><a [routerLink]="[ '/info']">Info</a></li>
      <li><a [routerLink]="[ '/contacto']">Contacto</a></li>
      <li>
        <div *ngIf="hayLogin; else elseLogin">
          <a class="dropdown-button" data-activates="LoginActivo">{{Login}}<i class="material-icons right">arrow_drop_down</i></a>
          <!-- Dropdown Structure -->
          <ul id="LoginActivo" class="dropdown-content">
            <li>
              <a><img src="../assets/img/utils/login.jpg" width="50%" height="50%" style="border: 5px solid red; border-radius: 50%">
                <span
                  style="float:right; padding-top:25%; font-size:2em">{{Login}}</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a (click)="loginEdit()"><i class="material-icons small">account_box</i>
             Configurar Perfil</a></li>
            <li><a (click)="desconectar();"><i class="material-icons small left">input</i>
             Desconectar</a></li>
          </ul>
        </div>
        <ng-template #elseLogin>
          <a [routerLink]="[ '/login']"><i class="material-icons">account_circle</i></a>
        </ng-template>
      </li>
      <li>
        <div *ngIf="hayCart; else elseCart">
          <a (click)="paintCart()"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
        <ng-template #elseCart>
          <a (click)="paintCart()"><i class="large material-icons">shopping_cart</i></a>
        </ng-template>
      </li>
    </ul>
    <!--Menu barra de navegacion en mobil-->
    <ul class="side-nav" id="mobile-demo">
      <li><a [routerLink]="[ '/inicio']"><i class="material-icons">store</i>Inicio</a></li>
      <li><a [routerLink]="[ '/info']"><i class="material-icons">info</i>Info</a></li>
      <li><a [routerLink]="[ '/contacto']"><i class="material-icons">contact_mail</i>Contacto</a></li>
      <li>
        <a [routerLink]="[ '/login']"><i class="material-icons">account_circle</i></a>
      </li>
      <li><a (click)="paintCart()"><i class="material-icons left">shopping_cart</i></a></li>
    </ul>
  </div>
</nav>

<router-outlet> </router-outlet>

<footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Visita nuestra tienda</h5>
        <p class="grey-text text-lighten-4">C/Lleida, 31</p>
        <img class="responsive-img" src="../assets/img/utils/tenda.png" width="50%">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Web Map</h5>
        <ul class="web-map">
          <li><a [routerLink]="[ '/inicio']">Inicio</a></li>
          <li><a [routerLink]="[ '/info']">Info</a></li>
          <li><a [routerLink]="[ '/contacto']">Contacto</a></li>
        </ul>
        <h5 class="white-text">Follow us</h5>
        <ul class="social-nav">
          <a><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
          <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2014 TakeAway.cat by Tania Pujol
    </div>
  </div>
</footer>
<!-- Modal Structure CART -->
<div id="Cart" class="modal">
  <div class="modal-content">
    <div *ngIf="hayCart != null; else NoHayCart">
      <h4>Lista del pedido</h4>
      <!--<table>
        <thead>
          <tr>
            <th>Cantidad</th>
            <th>nombre</th>
            <th>Precio unitario</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of hayCart">
            <td>{{cart.cantidad}}</td>
            <td>{{cart.nombre}}</td>
            <td>{{cart.precio}}</td>
            <td>{{cart.precio * cart.cantidad}}</td>
          </tr>
          <tr>
            <td colspan="4">{{totalPrecio}}</td>
          </tr>
        </tbody>
      </table>-->
    </div>
    <ng-template #NoHayCart>
      <h4>No hay producto añadidos a la compra</h4>
    </ng-template>
  </div>
  <div class="modal-footer">
    <div *ngIf="hayCart != null; else btnform">
      <a [routerLink]="[ '/checkout']" class="waves-effect waves-teal btn-flat red left">PASAR POR CAJA</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">CERRAR</a>
    </div>
    <ng-template #btnform>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">CERRAR</a>
    </ng-template>
  </div>
</div>
<!-- Modal Structure LOGINEDIT-->
<div id="loginEdit" class="modal">
  <div class="modal-content">
    <h4>Configurar Perfil</h4>
    <form #formLoginEdit="ngForm" (ngSubmit)="onSubmit()" id="formLoginEdit">
      <div class="container">
        <div class="row">
          <div class="col s6">
            <img src="/../assets/img/{{cliente.avatar}}" class="responsive-img" />
          </div>-->
          <!--campo Nombre de usuario-->
          <div class="col s6">
            <h3>{{cliente.nombre}}</h3>
          </div>
        </div>
        <!--campo Contraseña-->
        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <i class=" medium material-icons prefix">vpn_key</i>
              <input id="password" name="password" type="password" class="validate" [(ngModel)]="cliente.password" ngModel>
              <label for="password" data-error="error" data-success="correcto">Contraseña</label>
            </div>
          </div>
        </div>
        <!--campo email-->
        <div class="row">
          <div class="input-field col s12">
            <i class="medium material-icons prefix">email</i>
            <input id="email" type="email" name="email" class="validate" [(ngModel)]="cliente.email" ngModel>
            <label for="email" data-error="error" data-success="correcto">Email</label>
          </div>
        </div>
        <!--campo direccion-->
        <div class="row">
          <div class="input-field col s12">
            <input id="direccion" type="text" name="direccion" [(ngModel)]="cliente.direccion" ngModel>
            <label for="direccion">Direccion   <span class="grey-text" style="font-size:11px;">c/Av/psg/ Nombre de la calle, numero , piso/casa - puerta. POBLACION </span></label>
          </div>
        </div>
        <!--campo Telefono-->
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="telf" type="text" name="telf" pattern="^[9|8|7|6]\d{8}$" title="Su telefono debe de empezar por 9 o 6" class="validate"
              [(ngModel)]="cliente.telf" ngModel>
            <label for="telf" data-error="error" data-success="correcto">Telefono</label>
          </div>
          <!--campo Codigo Postal-->
          <div class="col s6">
            <div class="input-field">
              <input id="cp" name="cp" type="text" [(ngModel)]="cliente.cp" ngModel>
              <label for="cp">Codigo Postal</label>
            </div>
          </div>
        </div>
        <button style="margin: 20px;" class="btn waves-effect waves-light red" type="submit" name="action">Enviar</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
